{
  "extends": [
    "adidas-es5",
    "adidas-env/browser"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "no-var": "off",
    "one-var": ["error", {
      "initialized": "never",
      "uninitialized": "always"
    }],
    "prefer-arrow-callback": "off",
    "prefer-rest-params": "off"
  }
}
